:root {
  font-family: 'Inter', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 88px;
    padding-left: 88px;
  }
}

.section {
  scroll-margin-top: 50px;

  @include media(desktop) {
    scroll-margin-top: 60px;
  }
}

.section-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.18182;
  color: #1a1a1a;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 48px;
    line-height: 1.08333;
    margin-bottom: 40px;
  }
}

.section-title-span {
  font-style: italic;
  color: #008afb;

  @include media(desktop) {
  }
}
