.about-section {
  background: linear-gradient(
    180deg,
    #e0f2fe 0%,
    #6d9bff 44.71%,
    #e0f2fe 94.71%
  );

  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 555px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/about/about-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.jpg);
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    max-width: 509px;
    margin-left: auto;
    margin-right: 114px;
  }
}

.about-text-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2a2a2a;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}

.about-middle-text {
  font-weight: 600;

  @include media(desktop) {
    max-width: 455px;
  }
}

.about-bottom-text {
  font-style: italic;

  @include media(desktop) {
  }
}
