.about-section {
  background: #003486;

  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.about-text-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 629px;
  }
}

.about-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 447px;
    margin: 0;
  }
}
