.contact-section {
  background: linear-gradient(360deg, #1b9dff 0%, #003486 100%);

  @include media(desktop) {
  }
}

.contact-section-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
    text-align: center;
  }
}

.contact-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
    max-width: 1069px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }
}

.contact-email-link {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
