.faq-section {
  background: linear-gradient(
    180deg,
    #e0f2fe 0%,
    #6d9bff 44.71%,
    #e0f2fe 94.71%
  );

  @include media(desktop) {
  }
}

.faq-section-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  text-align: center;

  @include media(desktop) {
  }
}

.faq-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 100%;
  }
}

.faq-swiper-container.show {
  visibility: visible;
}

.faq-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px 28px;
  }
}

.faq-list-item {
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 4px solid #008afb;
  border-radius: 24px;
  padding: 32px 20px;
  max-width: 335px;

  @include media(desktop) {
    padding: 32px 18px;
    width: 100% !important;
    max-width: 618px;
    min-height: 208px;
  }
}

.faq-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #0a0a0a;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.faq-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2a2a2a;

  @include media(desktop) {
  }
}

.faq-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 32px;

  @include media(desktop) {
    display: none;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
}
