.footer {
  background: #fff;
  border-top: 4px solid #008afb;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 32px;
  padding-bottom: 36px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}

.footer-img {
  min-width: 232px;

  @include media(desktop) {
  }
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    max-width: 328px;
  }
}

.footer-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 5px;

  @include media(desktop) {
  }
}

.footer-logo-icon {
  min-width: 40px;

  @include media(desktop) {
  }
}

.footer-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2a2a2a;
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.footer-nav {
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2a2a2a;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #2a2a2a;

  @include media(desktop) {
  }
}
