.header {
  background: linear-gradient(180deg, #6e9bff 0%, #fff 100%);
  border-bottom: 4px solid #008afb;
  padding-top: 12px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 16px;
    padding-bottom: 12px;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  color: #1a1a1a;
  min-width: fit-content;

  @include media(desktop) {
  }
}

.header-logo-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 26px;
    width: 100%;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-link {
  @include media(desktop) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #1a1a1a;
    transition:
      color 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      text-shadow 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.active {
      text-shadow: 0 0 0 currentColor;
      opacity: 1;
    }
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #1a1a1a;
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.close-icon {
  stroke: #1a1a1a;
}
