.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 116px;
  padding-bottom: 416px;
  max-width: 375px;
  margin: 0 auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 196px;
    padding-bottom: 184px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08333;
  color: #1a1a1a;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 60px;
    line-height: 1.13333;
  }
}

.hero-title-span {
  font-style: italic;
  color: #008afb;

  @include media(desktop) {
  }
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 616px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #2a2a2a;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.hero-bottom-text {
  font-weight: 600;
  color: #1a1a1a;

  @include media(desktop) {
    max-width: 568px;
  }
}
