.context-menu {
  display: none;
  background: #0049af;
  padding: 60px 48px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  width: 100%;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.context-list-item {
  position: relative;
}

.context-list-link {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;

  &:active {
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
