<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <h2 class="section-title features-title">
          What you <span class="section-title-span">actually do</span>
        </h2>
        <ul class="features-list">
          <li class="features-list-item">
            <p class="features-item-number">1</p>
            <p class="features-item-text">Draw wind paths</p>
          </li>
          <li class="features-list-item">
            <p class="features-item-number">2</p>
            <p class="features-item-text">Rotate airflow nodes</p>
          </li>
          <li class="features-list-item">
            <p class="features-item-number">3</p>
            <p class="features-item-text">Manage energy</p>
          </li>
          <li class="features-list-item">
            <p class="features-item-number">4</p>
            <p class="features-item-text">Use terrain</p>
          </li>
        </ul>
        <div class="features-text-wrapper">
          <p class="features-text">You'll start thinking in straight lines.</p>
          <p class="features-text">
            Then curves. Then timing. Then chain reactions.
          </p>
          <p class="features-bottom-text">
            Eventually, you stop thinking<br class="features-br-mob" />
            in moves<br class="features-br-desk" />
            — and start<br class="features-br-mob" />
            thinking in <span class="features-text-span">systems</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
