<section class="gallery-section section" id="gallery">
  <div class="gallery-section-wrapper">
    <div class="container gallery-container">
      <div class="gallery-swiper-container">
        <ul class="swiper-wrapper gallery-swiper-wrapper">
          <li class="swiper-slide gallery-list-item">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img1.png"
              alt="Screenshot of the game"
              width="334"
              height="595"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-list-item">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img2.png"
              alt="Screenshot of the game"
              width="334"
              height="595"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-list-item">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img3.png"
              alt="Screenshot of the game"
              width="334"
              height="595"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-list-item">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img4.png"
              alt="Screenshot of the game"
              width="334"
              height="595"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-list-item">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img5.png"
              alt="Screenshot of the game"
              width="334"
              height="595"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-list-item">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img6.png"
              alt="Screenshot of the game"
              width="334"
              height="595"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="gallery-dot active"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
      </div>
    </div>
  </div>
</section>
