<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">You don't move objects.</h2>
        <p class="gameplay-subtitle">You move what moves them.</p>
        <p class="gameplay-text">
          Each level's basically its own little world with its own rules.<br />
          You create currents — simple at first. A direction. A push. A gentle
          flow.
        </p>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <div class="gameplay-icon-wrapper">
              <svg class="gameplay-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gameplay1"></use>
              </svg>
            </div>
            <h3 class="gameplay-item-title">Leaves drift</h3>
            <p class="gameplay-item-text">
              Light and responsive to gentle currents
            </p>
          </li>
          <li class="gameplay-list-item">
            <div class="gameplay-icon-wrapper">
              <svg class="gameplay-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gameplay2"></use>
              </svg>
            </div>
            <h3 class="gameplay-item-title">Gliders soar</h3>
            <p class="gameplay-item-text">Catch momentum and glide far</p>
          </li>
          <li class="gameplay-list-item">
            <div class="gameplay-icon-wrapper">
              <svg class="gameplay-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gameplay3"></use>
              </svg>
            </div>
            <h3 class="gameplay-item-title">Balloons rise</h3>
            <p class="gameplay-item-text">
              Float upward and curve with the wind
            </p>
          </li>
          <li class="gameplay-list-item">
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-bottom-item-text">
                Your goal is simple — guide<br />
                them home.
              </p>
              <p
                class="gameplay-bottom-item-text gameplay-bottom-item-middle-text"
              >
                But the way you<br />
                get there… never is.
              </p>
              <p
                class="gameplay-bottom-item-text gameplay-bottom-item-bottom-text"
              >
                Nothing is forced.Everything reacts.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
