<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About System</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Music Experience</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#modes">Play Modes</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How to Play</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
