<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">The Valley</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay">Mechanics</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progression"
          >Progression</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
    </ul>
  </nav>
</div>
