<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <h2 class="section-title progression-title">
        Yeah, it's <span class="section-title-span">trickier</span> than it
        looks at first
      </h2>
      <div class="progression-content-wrapper">
        <p class="progression-text">
          The first levels teach you control.<br />
          The next ones take it away.
        </p>
        <ul class="progression-list">
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Limited moves</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Multi-object coordination</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Delayed reactions</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Chain-based solutions</p>
          </li>
        </ul>
        <p class="progression-bottom-text">
          There's no single answer.<br />
          Only better <span class="progression-text-span">understanding</span>.
        </p>
      </div>
    </div>
  </div>
</section>
